
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya Courses</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="nav">
        {{ template "nav" . }}
    </div>

   {{ template "main" . }}

   
</body>
<script>
    function sendDeleteRequest(url) {
        fetch(url, {
            method: 'DELETE',
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function sendPatchRequest(url, data) {
        fetch(url, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'multipart/form-data',
            },
            body: data,
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
</html>
{{end}}