{{define "nav"}}
<div class="px-4 mb-10 border-b-2 border-black flex justify-between items-center h-20">
    <a class="text-4xl" href="/">
        瑪雅資訊雲端平台
    </a>
    <div>
        <ul class="flex gap-4">
            {{if .IsAuthenticated}}
            <li>
                <form action="/user/logout" method="post">
                    <button  class="text-2xl" >
                        登出
                    </button>
                </form>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}

{{define "main"}}
<div>
    <div class="w-full px-40 flex flex-col gap-4">
        <div>
            <a href="/user/{{.UserID}}/courses">👈返回</a>
        </div>
        <h2 class="text-5xl">新增課程</h2>

        <form class="flex flex-col gap-4" action="/users/{{.UserID}}/courses" method="post">
            <div class=" flex flex-col">
                <label> 課程名稱</label>
                <input class="w-full pl-4 h-12 rounded-xl border-2 border-black" type="text" name="title">
            </div>
            <div class="flex flex-col">
                <label> 講師名稱</label>
                <input  class="w-full pl-4 h-12 rounded-xl border-2 border-black" type="text" name="instructor">
            </div>
            <div>
                <label>課程分類</label>
                <div dropdown class="relative flex cursor-pointer">
                    <div class="w-full pl-4 h-12 flex items-center rounded-xl border-2 border-black" onclick="toggle()">
                        <span selectedTags>
                            分類(可複選)章節資訊
                        </span>
                    </div>
                    <div dropdownList class="hidden absolute top-full w-full ">
                        <div class="  py-2 flex flex-col border-2 border-black bg-white" >
                            {{range .Options.Tags}}  
                                {{if .Selected}}
                                <label class="pl-4 hover:bg-gray-200 py-1"><input checked checkOption text="{{.Label}}" type="checkbox" name="tags" value="{{.ID}}"> {{.Label}}</label>
                                {{else}}
                                <label class="pl-4 hover:bg-gray-200 py-1"><input checkOption text="{{.Label}}" type="checkbox" name="tags" value="{{.ID}}"> {{.Label}}</label>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" flex flex-col">
                <label> 課程資訊</label>
                <textarea rows="7"  class="w-full pl-4 pt-4 rounded-xl border-2 border-black" type="text" name="description">{{.Course.Description}}</textarea>
            </div>
            <div class="flex justify-end">
                <button class=" bg-gray-200 rounded-xl hover:opacity-75 border-2 px-6 py-2 border-black">新增</button>
            </div>
        </form>
    </div>
</div>

<script>

    const selectedTags = document.querySelector('[selectedTags]');
    render()
    
    function render(){
        const temp = []
        document.querySelectorAll('[checkOption]:checked').forEach((item) => {
                temp.push({value: item.value, label: item.getAttribute('text')})
            })
        arr = [...temp]
        if(arr.length==0){
            selectedTags.innerHTML = '分類(可複選)'
            return
        }else{
            selectedTags.innerHTML = temp.map(x=>x.label).join(' , ')
        }
    }

    function toggle() {
        var dropdownList = document.querySelector('[dropdownList]');
    
        if (dropdownList.classList.contains('hidden')) {
            dropdownList.classList.remove('hidden');
        } else{
            dropdownList.classList.add('hidden');
            render()
        }
    }


    // This is for closing the dropdown when clicking outside of it.
    document.addEventListener('click', function(event) {
        var isClickInside = document.querySelector('[dropdown]').contains(event.target);
        var dropdownList = document.querySelector('[dropdownList]');
        if (!isClickInside && !dropdownList.classList.contains('hidden')) {
            dropdownList.classList.add('hidden');
            render()
        }
    });
</script>


{{end}}